extend ./template.pug

block content
  .row
    .col-12
      .card.text-center
        .card-header
          | Database: Top movies
        .card-body
          h5.card-title Top 250 movies (IMDB)
          p.card-text The results are crawlered from IMDB website.
          a.btn.btn-primary(onclick="window.location.href='https://drive.google.com/file/d/1vYiAMVVmwchlMB0T-V9XrcqEhxQhQL3A/view?ths=true'") Download the file!  
        .card-footer.text-muted
          | updated on Apr.5th 2020
  .space
    p.

  .row
    .col-12
      .card.text-center
        .card-header
          | Database: Top books
        .card-body
          h5.card-title Top 100 best sellers books (Amazon)
          p.card-text The results are crawlered from amazon.uk website.
          a.btn.btn-primary(onclick="window.location.href='https://docs.google.com/document/d/1MedyQy74N-oYa-vtRWY1pPuyttO18EAkuP8-dceu6EI/edit'") Download the file!
        .card-footer.text-muted
          | updated on Apr.5th 2020
  .space
    p.


  .row.align-items-center
    .col-12
      .card.text-center
        .card-header
          | Database: League of Legends Heros
        .card-body
          h5.card-title League of Legends Heros (Chinese Service)
          p.card-text The results are crawlered from Chinese LoL website.
          a.btn.btn-primary(onclick="window.location.href='https://docs.google.com/document/d/1VJPyDCscLNnQwYjzQHxNJoJwMprnDH0e_BaMae6kmCY/edit'") Download the file!
        .card-footer.text-muted
          | updated on Apr.5th 2020